<div class="container">
  <h1>User Form</h1>
  <form #userView="ngForm">
    <div class="form-group">
      <label for="username">username</label>
      <input type="text" class="form-control" id="username" required
             [(ngModel)]="user.username" name="username">
    </div>

    <div class="form-group">
      <label for="email">email</label>
      <input type="text" class="form-control" id="email"
             [(ngModel)]="user.email" name="email">
    </div>

    <button type="submit" class="btn btn-success" (click)="save()">Submit</button>
    <button class="delete" title="delete user" (click)="delete()">delete</button>
  </form>
</div>
