<div class="container">
  <h1>User Form</h1>
  <form #userView="ngForm">
    <div class="form-group">
      <label for="username">username</label>
      <input type="text" class="form-control" id="username" required
             [(ngModel)]="user.username" name="username">
    </div>

    <div class="form-group">
      <label for="email">email</label>
      <input type="text" class="form-control" id="email"
             [(ngModel)]="user.email" name="email">
    </div>

    <div class="form-group">
      <label for="password">password</label>
      <input type="text" class="form-control" id="password"
             [(ngModel)]="user.password" name="password">
    </div>

    <div class="form-group">
      <label for="status">status</label>
      <input type="text" class="form-control" id="status"
             [(ngModel)]="user.status" name="status">
    </div>

    <button type="submit" class="add" title="create" (click)="add(user)">create</button>
  </form>
</div>
