<nav>
  <a routerLink="/create">Add new user</a>
</nav>
<table>
  <tr *ngFor="let user of users">
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.password_hash}}</td>
    <td><a routerLink="/detail/{{user.id}}">view</a></td>
  </tr>
</table>
